@model Presentation.Models.SaleViewModel

@{
    ViewData["Title"] = "Nueva venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SaleModel.Table" class="control-label"></label>
                <input asp-for="SaleModel.Table" class="form-control" />
                <span asp-validation-for="SaleModel.Table" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleModel.Product" class="control-label"></label>
                <input asp-for="SaleModel.Product" class="form-control" />
                <span asp-validation-for="SaleModel.Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleModel.Quantity" class="control-label"></label>
                <input asp-for="SaleModel.Quantity" class="form-control" />
                <span asp-validation-for="SaleModel.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleModel.Note" class="control-label"></label>
                <input asp-for="SaleModel.Note" class="form-control" />
                <span asp-validation-for="SaleModel.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
