@model IEnumerable<Domain.Tables.Table>

@{
    ViewData["Title"] = "Nueva venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Ventas</h1>
    <p>Elija la mesa a la que quiere registrar la venta</p>
    <div id="table-list">
        @foreach (var table in Model)
        {
            <div>@Html.ActionLink(table.Name.ToString(), "Create", new { table = table.Id })</div>
        }
    </div>
</div>