@model IEnumerable<Domain.Tables.Table>

@{
    ViewData["Title"] = "Nueva venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p>Elija una mesa</p>
    <div id="table-list">
        @foreach (var table in Model)
        {
            <div>@Html.ActionLink(table.Name.ToString(), "Create", new { table = table.Id, tableName = table.Name })</div>
        }
    </div>
</div>