#btn-container { text-align: right; }

#products li {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

#products li:nth-child(odd) { background: #F1F1F1; }

#products .details { flex-grow: 1; }

#products p { margin: 5px 0; }

#products span {
    color: #666;
    font-size: 11px;
    margin: 0 5px;
}

#products p > span:first-child { margin-left: 0; }

#products strong {
    color: #000;
    font-size: 14px;
}