html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.hide {
    display: none;
}

/* Ventas */
#table-list {
    display: flex;
}

#table-list > div {
    background: #444;
    color: #FFF;
    cursor: pointer;
    margin: 5px;
    padding: 100px;
}