html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body, ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.hide {
    display: none !important;
}

/* Ventas */
#table-list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

#table-list > div {
    background: #444;
    color: #FFF;
    cursor: pointer;
    text-align: center;
}

#table-list a {
    color: #DADADA;
    display: block;
    font-size: 50px;
    text-decoration: none;
}

.form-group {
    margin-top: 10px;
}